/********************
 * page layout
 ********************/

/* fill page when width under 800px, otherwise centralized */
body { margin: 0 auto; max-width: 800px; }

/* fit the space when main is short */
body { display: flex; flex-direction: column; min-height: 100vh; }
main { flex: 1; }

/* stick header at top */
header { position: sticky; top: 0; }

/* fix height of header in order to bugfix scrolling to in page anchor */
header { height: 78px; }
html { scroll-padding-top: 78px; }

/********************
 * base theme
 ********************/

/* consider font for zh/en characters */
body { color: #1d1d1f; font-family: "PingFang TC",sans-serif; }

/* design main */
main { padding: 0 24px; }
main h1, main h2, main h3 { font-weight: normal; }
main a { text-decoration: none; color: #06c; }
main a:hover { text-decoration: underline; }

/* design footer */
footer {
    color: rgb(110, 110, 115);
    background-color: #f5f5f7;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px;
}

/********************
 * header
 ********************/

/* opaque logo background */
/* transparent navigation background */
/* opaque message background */
header > h1 { background-color: rgba(251,251,253); }
header > nav > ul { background-color: rgba(251,251,253,0.9); }

/* no spacing between logo and navigation */
/* underscore after navigation */
/* a bit spacing before message */
/* all fill width */
header > h1 { margin: 0; }
header > nav > ul { margin: 0; }
header > nav::after { display: block; content: ""; background-color: rgba(0,0,0,0.16); height: 1px; }

/* logo design */
header > h1 { padding: 8px 24px 0 24px; }
header > h1 img { border-radius: 22.5%; }
header > h1 a { text-decoration: none; color: inherit; }

/* adjust logo image and spacing according to zh characters */
header > h1 { letter-spacing: normal; font-weight: normal; }
header > h1 img { margin-right: 8px; width: 40px; vertical-align: sub; }

/* convert ul (unodered list) into inline text */
/* padding right as same as logo */
header > nav > ul { list-style: none; display: flex; justify-content: flex-end; padding: 4 24px; }

/* design navigation link style and spacing */
header > nav > ul > li { padding-left: 1.5em; font-size: smaller; }
header > nav > ul > li > a { text-decoration: none; color: #3c3c3c; opacity: .88; }
header > nav > ul > li > a:hover { color: #06c; opacity: 1; }

/********************
 * announcement
 ********************/

/* fixed position at the bottom and centralized */
#announcement { position: fixed; bottom: 0; left: 0; margin: 16px; }

/* design the dialog */
#announcement {
    border-radius: 16px;
    background-color: #f2f2f2;
    padding: 16px;
    box-shadow: 0px 0px 8px #999;
}
